.no-list
  list-style-type: none
  padding: 0
  margin: 0

.related-post-index > ol
  @extend .no-list

.archived-post-index > ol
  @extend .no-list

.archives-by-category > ol
  @extend .no-list

.archives-by-tags > ol
  @extend .no-list

.archives-by-date > ol
  @extend .no-list

.publication-index ol
  @extend .no-list

.publication-index > ol ol li
  @extend .no-list
  padding-bottom: 1em

.project-index > ol
  @extend .no-list

.project-index > ol > li
  @extend .no-list

  h3, span
    margin-bottom: .1em
    padding-bottom: 0

  .authors
    color: .666
