.no-list
  list-style-type: none
  padding: 0
  margin: 0

.sidebar
  &-links
    a:hover
      text-decoration: none
    i
      display: inline
      text-align: center
      padding: 0.1em

.related-post-index > ol,
.archived-post-index > ol
  @extend .no-list

.archives-by
  &-category > ol,
  &-tags > ol,
  &-date > ol
    @extend .no-list

.publication-index
  ol
    @extend .no-list
  & > ol ol li
    @extend .no-list
    padding-bottom: 1em
