/*
 * .post-title,
.post-date {
  text-align: right;
}
*/

ol.bibliography {
  padding: 0;
  margin: 0;
}

ol.bibliography > li {
  padding-bottom: 1em;
}

ol.naked-list {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
}

#archives-by-tags {
}

#archives-by-date {
}
