---
layout:        page
title:         Archives
archive_index: true
---

<!--
<div class="archives-by-category">
  <h2>By Category</h2>
  <ol>
    {% for category in page.archives_by_category %}
    <li>
      <a href="{{ category.url }}">{{ category.name }}</a> ({{ category.post_count }})
    </li>
    {% endfor %}
  </ol>
</div>
-->

<div class="archives-by-tag">
  <h2>By Tag</h2>
  <ol>
    {% for tag in page.archives_by_tag %}
    <li>
      <a href="{{ tag.url }}">#{{ tag.name }}</a> ({{ tag.post_count }})
    </li>
    {% endfor %}
  </ol>
</div>

<div class="archives-by-date">
  <h2>By Date</h2>
  <ol>
    {% for year in page.archives_by_date %}
    <li>
      <h3>
        <a href="{{ year.url }}">{{ year.name }}</a>
        <small>({{ year.post_count }})</small>
      </h3>
      <ol>
        {% for month in year.months %}
        <li>
          {% if month.url %}
            <a href="{{ month.url }}">{{ month.name }}</a>
            <span>({{ month.post_count }})</span>
          {% else %}
          <span>{{ month.name }}</a>
          {% endif %}

          <!--
          <ol>
            {% for day in month.days %}
            <li>
              <a href="{{ day.url }}">{{ day.name }}</a>
              <small>({{ day.post_count }})</small>
            </li>
            {% endfor %}
          </ol>
          -->


        </li>
        {% endfor %}
      </ol>
    </li>
    {% endfor %}
</div>
